.benefits-list {
  display: flex;
  justify-content: space-between;

  &-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 3 * 30px) / 4);

    & > h3 {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $basic-text-color;
      margin-top: 30px;
    }

    & > p {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: $description-text-color;
      margin-top: 10px;
    }

    &-icon {
      display: inline-block;
      --color1: rgb(33, 150, 243);
      --color2: rgb(33, 33, 33);
      --color3: rgb(33, 150, 243);

      transition: all 5000ms;

      &-bcg {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background-color: #f5f4fa;
        border-radius: 4px;

        &:hover .benefits-list-item-icon {
          --color1: rgb(217, 79, 230);
          --color2: rgb(33, 150, 243);
          --color3: rgb(255, 255, 255);
        }
      }
    }
  }
}
