.header {
  background-color: rgb(255, 255, 255);

  .navigation {
    display: flex;
    align-items: center;
  }

  .list {
    display: flex;
    align-items: center;
  }

  .address {
    margin-left: auto;
  }
}

.navigation-list {
  .logo + & {
    margin-left: 94px;
  }

  &-item {
    position: relative;
  }

  &-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14px, 1.143, 0.02em);
    transition: color 250ms $t-timing-function, fill 250ms $t-timing-function;

    &:hover,
    &:focus {
      color: $accent-text-color;
      fill: $accent-text-color;
    }
  }
}

.navigation-list > li + li,
.address-list > li + li {
  margin-left: 52px;
}

#active-page {
  color: $accent-text-color;

  &::after {
    display: block;
    position: absolute;
    bottom: 0px;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }
}

.header-address {
  &-icon {
    margin-right: 10px;
    fill: $description-text-color;
    transition: color 250ms $t-timing-function, fill 250ms $t-timing-function;
  }

  &-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14px, 1.143, 0.02em, $description-text-color);

    transition: color 250ms $t-timing-function, fill 250ms $t-timing-function;

    &:hover,
    &:focus,
    &:hover .header-address-icon,
    &:focus .header-address-icon {
      color: $accent-text-color;
      fill: $accent-text-color;
    }
  }
}
