.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.logo .logo-header {
  color: rgb(0, 0, 0);
}

.logo .logo-footer {
  color: rgb(255, 255, 255);
}
