.wrapper {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;

  .header & {
    display: flex;
    align-items: center;
  }

  .hero & {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .benefits &,
  .team &,
  .сlients &,
  .portfolio & {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .direction & {
    padding-bottom: 94px;
  }

  .footer & {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
